.main-title, .subtitle {
	font-weight: normal;
	margin: 0;
}

.main-title {
	font-size: 3.5em;
	line-height: 1.35;

	span {
		display: block;
		color: black;
		opacity: 0.25;
	}
}

.subtitle {
	font-size: 2em;

	span {
		width: 42px;
		height: 42px;
		border-radius: 50px;
		display: inline-block;
		margin-right: 10px;
		font-weight: bold;
		color: white;
		background: $main;
		text-align: center;
	}
}

p {
	font-size: 1.25em;
	line-height: 1.55;
}